﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NewMember.aspx.cs" Inherits="NewMember" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text=""></asp:Label>
        <asp:Panel ID="Panel1" runat="server" Visible="false">
            帳號:<asp:Label ID="Acc" runat="server" Text=""></asp:Label><br />
            密碼:<asp:Label ID="Pa" runat="server" Text=""></asp:Label><br />
            <br />
            <a href="<% = System.Web.Configuration.WebConfigurationManager.AppSettings["wwwServer"] %>/Page/Index//Download.aspx">
                遊戲下載
            </a>
        </asp:Panel>
    </div>
    </form>
</body>
</html>
