﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="report.aspx.cs" Inherits="report" %>

<script>
    var _game_server = '<%=ConfigurationManager.AppSettings["game_server"] %>'
    <%--Date.Server = new Date('<%= DateTime.Now.ToUniversalTime().ToString("yyyy/MM/dd HH:mm:ss")%>');--%>
    //Date.Client = new Date();
</script>
<% Response.WriteFile("report.html");%>
