﻿body {
    font-size: 14px;
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
}

.pop_window, .pop_window_bg {
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.pop_window_bg {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* first!*/
    filter: alpha(opacity=40); /* second!*/
    background-color: black;
}

.confirm_window, .confirm_call {
    z-index: 101;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -75px;
    /*padding:1%;*/
    border: 1px solid #00AFF0;
    border-radius: 5px;
    text-align: left;
    /*padding-top:7px;*/
    background-color: white;
}

.confirm_call_bg {
    z-index: 101;
    background: url('../image/bg.png');
    background-size: 100% 100%;
    position: absolute;
}

.confirm_title {
    text-align: center;
    padding: 3%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.confirmbtn {
    background-image: none;
    border: none;
    width: 80px;
    /*margin-left:50px;*/
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.confirm_title, .confirmbtn {
    background-color: #00AFF0;
    color: white;
}
