﻿
body * {
    /*font-size: medium;*/
}

.pointer{
    cursor:pointer;
}

.pointer:hover{
    text-decoration:underline;
}

.imgBtn{
    margin-right: 5px;
    width:22px; 
    margin-top:4px;
}

.editBtn {
    background-image:none;
    border:none;
}

.dataColumn, .dataCount {
    margin: 0;
    display: inline-block;
    /*margin-right:5%;*/
    margin-top: 20px;
    width: 80px;
    /*border:1px solid black;*/
}

.dataCount {
    width: 100px;
}

.dataBlock {
    display: inline-block;
    width: 185px;
}

.toptitle {
    display: inline-block;
    padding-right: 10px;
}

* {
    margin: 0;
    padding: 0;
}

div {
    vertical-align: top;
}

.divcol {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.folder {
    display: none;
}

    .folder + label span {
        cursor: pointer;
        width: 14px;
        height: 14px;
        display: inline-block;
        background: url(icons.png) left top no-repeat;
    }

    .folder ~ ul {
        display: none;
    }

    .folder:checked ~ ul {
        display: block;
    }

li {
    list-style: none;
    padding-left: 20px;
}

    li:hover {
        text-decoration: underline;
    }

    li:before {
        content: "|";
    }

input {
    border-radius: 0;
    padding: 0;
    margin: 0 3px;
    width: 80px;
}

[isparam=true] {
    width: 80px;
}

input[type=radio] {
    /*display: none;*/
    width:auto;
}

    /*input[type=radio]:checked + label {
        background-color: lightblue;
        border: solid cyan 1px;
    }*/

.pagecontent {
    display: none;
}

.tab {
    cursor: pointer;
    color: white;
    background-color: grey;
    border-radius: 5px 5px;
}

    .tab[opened=true] {
        background-color: lightcoral;
        color: black;
    }

    .tab:hover {
        background-color: lightgreen;
        color: black;
    }

table {
    border-collapse: collapse;
    width: auto;
    min-width: 140px;
    white-space: nowrap;
    table-layout: fixed;
}

tr {
    height: 24px;
    border: solid black 1px;
}

td {
    margin: 1px;
    /*padding-right: 5px;*/
    min-width: 5px;
}

    /*td:nth-child(1) {
        width: 90px;
    }*/

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 99%;
}

.titletext{
    min-width:250px;
    text-align:left;
    word-wrap: break-word; /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; /* current browsers */
}

.txtwidth {
            width:98%;
        }