﻿.IdIcon, .AccSumLCorner,.UserIcon,.UcIcon,.AccSumRCorner{
    height: 16px;
    width: 16px;
    background: url(/image/menutop.png?101028) no-repeat;
    position: relative;
}

.IdIcon{    
    background-position: -40px -100px;
}

.UserIcon{
    background-position: -60px -100px;
}

.UcIcon{
    background-position: -80px -100px;
}

.AccSumLCorner,.AccSumRCorner {
    width:10px;
    height:20px;
}

.AccSumLCorner{
    background-position: -5px -100px;    
}

.AccSumRCorner{
    background-position: -20px -100px;
}

.AccSumB{
   background:url(/image/menutop.png?101028) repeat-x;
   background-position: 0px -67px;
   /*padding:0px 9px;*/
   height: 20px;   
}
.AccSumText{
    font-weight:bolder;
}
.AccSumTdPaddingRight{
    padding-right:10px;
}

.AccSumTdPaddingLeft{
    padding-left:5px;
}